<style type="text/css" media="print">
 .boxcontainer {
    display:inline;
 }   
</style>

<div class="boxcontainer" style="width:80%;margin:30px auto 30px auto;border:1px solid #ccc;">
    <div style="width:100%;float:left;border-bottom:1px solid #ccc;">
        <div style="width:30%;float:left;">
            <div style="margin:20px 0px 20px 30px;">
                <img src="MSRC Logo.png" style="width:80px;" />
            </div>
        </div>
        <div style="width:70%;float:left;">
            <h1 style="margin:30px 0px 0px 0px;padding:0;">Morning Star Rent A Car</h1>
            <p style="margin:10px 0px 0px 0px;padding:0;">P.o. Box:2295, Ruwi, Postal Code: 112,Sultanate of Oman, Tel:24593177,Fax 24502469,GSM: +96899441688, C.R. No. 1782380</p>
        </div>
    </div>
    <div style="float:left;width:100%;padding-bottom:30px;">
        <div style="padding:20px;">
            <div style="width:33.33%;float:left;">
                <div style="float:left;width:100%;margin:30px 0px 0px 0px;">
                    <input type="text" style="float:left;height:40px;width:70%;" />
                    <input type="text" style="float:left;height:40px;width:30%;" />
                </div>
            </div>
            <div style="width:33.33%;float:left;">
                <h2 style="text-transform:uppercase;margin:35px 0px 0px 0px;text-align:center;">Payment Voucher</h2>
            </div>
            <div style="width:33.33%;float:left;">
                <h2 style="margin:35px 0px 0px 0px;float:right;">No. 1175</h2>
            </div>
        </div>
    </div>
    <div style="float;left;width:100%;">
         <div style="padding:20px;">
            <div style="float:right;">
                <p>Date: ..............</p>
            </div>
         </div>
         <div style="clear:both;"></div>
    </div>
    <div style="float;left;width:100%;">
        <div style="padding:20px;">
            <p style="wordwrap: break-word;">Paid to Mr. M/s..................................................................................................................</p>
        </div>
        <div style="clear:both;"></div>
    </div>
    <div style="float;left;width:100%;">
        <div style="padding:20px;">
            <p style="wordwrap: break-word;">The Sum of Rials Omani.................................................................................................................</p>
        </div>
        <div style="clear:both;"></div>
    </div>
    <div style="float:left;width:100%;">
        <div style="padding:20px;">
            <div style="width:33.33%;float:left;">
                <p>By Cash/Cheque No..........................................</p>
            </div>
            <div style="width:33.33%;float:left;">
                <p>Bank........................................................</p>
            </div>
            <div style="width:33.33%;float:left;">
                <p>Dated........................................................</p>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
    <div style="float:left;width:100%;">
        <div style="padding:20px;">
            <p style="wordwrap: break-word;">Being.......................................................................................................................................................................</p>
        </div>
    </div>
    <div style="float:left;width:100%;">
        <div style="padding:20px;">
            <div style="width:33.33%;float:left;">
                ....................................................................................<br />
                <p style="text-align:center;">Prepared By</p>
            </div>
            <div style="width:33.33%;float:left;">
                ....................................................................................<br />
                <p style="text-align:center;">Approved By</p>
            </div>
            <div style="width:33.33%;float:left;">
                ....................................................................................<br />
                <p style="text-align:center;">Received By</p>
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>